<ion-header>

    <ion-navbar>
        <button ion-button menuToggle *ngIf='authStatus'>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Anmeldung</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <div *ngIf='!authStatus'>
        <br> Guten Tag<br> <br> Bitte geben Sie Ihre Email-Adresse ein.
        <br><br><br>
        <form (ngSubmit)="login()">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input [(ngModel)]="userEmail" type="email" name="userEmail"></ion-input>
                </ion-item>

                <!--<ion-item>
                    <ion-label stacked>Passwort</ion-label>
                    <ion-input [(ngModel)]="userPassword" type="password" name="userPassword"></ion-input>
                </ion-item>-->

                <hr/>
                <br><button type="submit" full ion-button>Anmelden</button>
            </ion-list>
        </form>
    </div>
    <div *ngIf='authStatus'>
        <button (click)='logout()' full ion-button>Abmelden</button>
    </div>
</ion-content>