<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Daten & Informationen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf='!authStatus'>
    <h3>Bitte melden Sie sich mit Ihren Zugangsdaten an.</h3>
  </div>
  <div *ngIf='authStatus'>
    <!--<ion-list>-->
      <ion-item>
        Fallnummer: <strong>{{displayFallnummer}}</strong> <br>
        Kostengutsprache: <strong>{{displayKostengutsprache}}</strong>
      </ion-item>
      <br>
      <ion-item>
        <b> Auszug der für Sie relevanten Kliniken</b>
      </ion-item>
      <ion-item *ngFor="let user of usersArray">
         - {{user.key}}
          
      </ion-item>
    <!--</ion-list>-->
  </div>
</ion-content>